<% include partials/header %>
<link rel="stylesheet" src="/public/style.css"/>

    <div class="container">
        <h1 class="header" style="margin: 25px auto; text-align: center;"> Edit "<%= kawa.name %>" </h1>
       <!-- <div style="width:30%; margin: 25px auto;"> -->
            <form action="/kawa/<%= kawa._id %>?_method=PUT" method="POST" style="margin: 25px auto;">
                <div class="container">
                <div class="form-group">
                    <input class="form-control" type="text" name="name" value="<%= kawa.name %>" autocomplete="off" required>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="namecatch" value="<%= kawa.namecatch %>" autocomplete="off" required>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="img" value="<%= kawa.img %>" autocomplete="off" required>
                </div>
    <!--    </div> -->
            </div>
            <div class="form-group">
                <label class="lead">Text content here...</label>
                <textarea class="form-control" name="content" id="exampleFormControlTextarea1" rows="20" required>
                    <%= kawa.content %>
                </textarea>
            </div>
            <div class="form-group">
                    <button class="btn btn-lg btn-dark btn-block">Update</button>
                </div>
        <a href="/" style="font-size: 60px; text-align:center;">◄</a> 

        </form>
    </div>

<% include partials/footer %>